
@include breakpint(mobile){
    
    .navbar {
        height: 120px;
        
         .flex-nav {
             @include flex;
             justify-content: space-between;
             flex-direction: column; 
         }
 
         ul {
             background-color: rgba(0,0,0, 0.1);
         }

     } 
}