.section-one {
    width: 100%;
    height: 5000px;
    background-color: inherit;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.section-two {
    width: 100%;
    height: 5000px;
    background-color: inherit;
    position: relative;
    overflow: hidden;
    z-index: 15;
}