.lemon-section-best {
    @include grid;
      grid-template-columns: 45% 55%;
      gap: 15px;
        min-height: 50vh;
        width: 100%;
        box-sizing: border-box;
        margin: 30px 0;

    .lemon3 {
        width: 100%;
        height: auto;
    }

    .lemon-section-best-text {
        width: 80%;
        margin: 0 auto;

        h3 {
            margin-top: 30px;
            color: $lemon-best-color;
        }

        p {
            margin: 15px auto;
        }

    }
}

@include breakpint(tablet){
    .lemon-section-best {
        grid-template-columns: 100%;
    }
}