.lemon-pics {
    background-color: #ba6bca;
        background-image: url('../../../images/lemon_pics.jpg');
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        min-height: 70vh;
}