.lemon-selection-benefits {
    @include flex;
    padding: 30px 0;
    box-sizing: border-box;

    & > div {
        width: 50%;
        text-align: center;
        box-sizing: border-box;

        ul > li {
           list-style: none;
            margin: 20px 0;
            cursor: pointer;
            transform: perspective(2000px) rotateY(10deg);
            transform-origin: left;

            &:hover {
                transform: rotateY(0deg);
                transition: transform 0.2s linear;
            }
        }
    }

    .lemon-selection-benefits-picture {
        align-self: flex-start;
        position: relative;
        background-image: 
        url('../../../images/l1.png'),
        url('../../../images/l3.png');
        background-position:
        top right, /* this positions the first image */
        bottom left; /* this positions the second image */
        background-repeat: no-repeat; /* this applies to both images */
        overflow: hidden;
        min-height: 120vh;

        .card-lemon1, .card-lemon2 {
            font-size: 20px;
            min-height: 150px;
            width: 340px;
            text-align: justify;
            background-color: white;
            opacity: 0.8;
            padding: 20px;

            h3 {
                color: #89b43d;
            }

            p {
                margin: 15px 0;
            }
        }

        .card-lemon1 {
            position: absolute;
            top: 0;
            left: 35px;
        }

        .card-lemon2 {
            position: relative;
            display: none;
        }
    }
}

@include breakpint(tablet){
    .lemon-selection-benefits {
        display: block;

        & > div {
            width: 100%;

            ul>li {
                margin: 20px auto;
                width: 90vw;
                transform: rotateY(0deg);
            }
        }

        .lemon-selection-benefits-picture {
            height: 500px;
            margin-top: 20px;
            background-image: url('../../../images/l1.png');
            .card-lemon1 {
                display: none;
            }
            .card-lemon2 {
                margin: 10px auto;
                display: block;
            }
        }
    }
}

