.picture-lemon-a {
    width: 30vw;
    position: absolute;
    left: 0px;
    z-index: 5;
}

@include breakpint(tablet){
    .picture-lemon-a {
       width: 30vw;
        position: absolute;
        left: -100px;
    }
}