//global background color
$bg-lemon: #ffff;

//lemonwater
$lemon-top-title-color:#89b43d;
$lemon-best-color:#ba6bca;
$lemon-make-color:#eff172;


//button background color
$white-color: #ffff;
$primary-color: #047aed;
$secondary-color: #1c3fa8;
$dark-color: #090a0a;
$light-color: #f4f4f4;
$success-color: #5cb85c;
$danger-color: #d9534f;
