$font-global: 'Courier New', Courier, monospace;


//font size
.sm-font {
    font-size: 1vw;
}

.md-font {
    font-size: 2vw;
}

.lg-font {
    font-size: 3vw;
}

.xl-font {
    font-size: 4vw;
}