$font-global: 'Courier New', Courier, monospace;


//font size
.sm-font {
    font-size: 1rem;
}

.md-font {
    font-size: 2rem;
}

.lg-font {
    font-size: 3rem;
}

.xl-font {
    font-size: 4rem;
}